<div fxLayout="column" fxLayoutAlign="none center" fxLayoutGap="20px">
    <div fxLayout="column" fxLayoutAlign="space-evenly strech" fxLayoutGap="20px"> 
        <mat-card> 

            <form class="example-form" >
                <div fxLayout="column" fxLayoutAlign="none center" >
                    <br>
                    <span>Cobrar con link de pago</span> 
                    <br>
                    <br>
                    <span style="font-size: 11px;">Total a Cobrar</span>
                    <br>
                    <span style="font-size: 32px;"> $ 1200 </span>
                    <br>
                    <br>
                    <span style="font-size: 11px;">(Concepto)</span>
                    <p>compra de un lavarropa</p>                                  
                </div>
                <br>
                <mat-divider></mat-divider>
                <br>
                <div fxLayout="row" fxLayoutAlign="none center" >              
                    <button mat-button routerLinkActive="list-item-active" routerLink="/mis-ventas" color="primary" aria-label="Example" fxFlex="100">
                        <mat-icon fxFlex="10">sms</mat-icon>
                        <span fxFlex="80">Enviar SMS</span>
                        <mat-icon fxFlex="10" fxAlingn="end">keyboard_arrow_right</mat-icon>
                    </button> 
                </div>
                <br>
                <mat-divider></mat-divider>
                <br>
                <div fxLayout="row" fxLayoutAlign="none center" >              
                    <button mat-button routerLinkActive="list-item-active" routerLink="/mis-ventas" color="primary" aria-label="Example" fxFlex="100">
                        <mat-icon fxFlex="10">email</mat-icon>
                        <span fxFlex="80">Enviar mail</span>
                        <mat-icon fxFlex="10" fxAlingn="end">keyboard_arrow_right</mat-icon>
                    </button> 
                </div>
                <br>
                <mat-divider></mat-divider>
                <br>
                <div fxLayout="row" fxLayoutAlign="none center" >              
                    <button mat-button routerLinkActive="list-item-active" routerLink="/mis-ventas" color="primary" aria-label="Example" fxFlex="100">
                        <mat-icon fxFlex="10">cancel</mat-icon>
                        <span fxFlex="80">Cancelar operacion</span>
                        <mat-icon fxFlex="10" fxAlingn="end">keyboard_arrow_right</mat-icon>
                    </button> 
                </div>
            </form>
        </mat-card>
    </div>
</div>