<div fxLayout="column" fxLayoutAlign="none center" fxLayoutGap="20px">
    <div fxLayout="column" fxLayoutAlign="space-evenly strech" fxLayoutGap="20px"> 
      <h3>Confirmar transferencia</h3>
      <form class="example-form" >
          <mat-card> 
                <div fxLayout="column" fxLayoutAlign="none center" > 
                    <h3>Transferencia inmediata de $1.200</h3>
                    <br>             
                    <h3>Titular</h3>
                    <h1>Ramon Lopez</h1>
                    <br>
                    <h3>CUIT</h3>
                    <h1>20-17236796-9</h1>
                    <br>
                    <h3>CBU</h3>
                    <h1>1234 5678 9012 3456</h1>
                    <br>
                </div>
                <br>
                <mat-divider></mat-divider>
                <br>
                <div fxLayout="row" fxLayoutAlign="none center" >              
                    <button mat-raised-button routerLinkActive="list-item-active" routerLink="/" color="primary" fxFlex="100">
                       Confirmar
                    </button> 
                </div>           
            </mat-card>
        </form>
    </div>
</div>