<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
    <div fxFlex="20"></div>
    
    <div fxLayout="column" fxLayoutAlign="space-between strech" fxLayoutGap="20px" class="stats-cards" fxFlex="60">          
        <mat-card> 
            <br>
            <div fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="20px" >
                <button mat-fab color="primary"> 
                    <mat-icon>camera_alt</mat-icon>
                </button>
                
                <h3>Completá los datos de tu negocio para que tus compradores te puedan identificar</h3>
            </div>
            <br>
            <mat-divider></mat-divider>
            <br>
            <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" >
                <span fxFlex="30">Numero CUIT</span>
                <span fxFlex="70">30-714079626-6</span>
            </div>
            <br>
            <mat-divider></mat-divider>
            <br>
            <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" >
                <span fxFlex="30">Nombre de tu negocio</span>
                <span fxFlex="70">Siriux Consulting</span>
            </div>
            <br>
            <mat-divider></mat-divider>
            <br>
            <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" >
                <span fxFlex="30">Razon social</span>
                <span fxFlex="70">Siriux Tech S.A.</span>
            </div>
            <br>
            <mat-divider></mat-divider>
            <br>
            <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" >
                <span fxFlex="30">Rubro principales</span>
                <span fxFlex="70">Servicios informaticos</span>
            </div>
            <br>
            <mat-divider></mat-divider>
            <br>
            <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" >
                <span fxFlex="90">Editar empresa</span>
                <span fxFlex="10">
                    <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                    </button>
                </span>    
            </div>
        </mat-card>
        <h3>Domicilios</h3>
        <mat-card fxFlex="60">
            <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" >
                <span fxFlex="90"><p>Buenos Aires 397</p> <p>Santiago del estero, 4200</p><p>Cel +54 (387) 443-3573</p></span>
                <span fxFlex="10">
                    <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                    </button>
                </span>    
           </div>
            <br>
            <mat-divider></mat-divider>
            <br>
            <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" >
                <span fxFlex="90"><p>Buenos Aires 397</p> <p>Santiago del estero, 4200</p><p>Cel +54 (387) 443-3573</p></span>
                <span fxFlex="10">
                    <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                    </button>
                </span>    
            </div>
            <br>
            <mat-divider></mat-divider>
            <br>
            <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" >
                <span fxFlex="80"><a>Agregar domicilio</a></span>
                <span fxFlex="10">
                    <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                    </button>
                </span>    
            </div>
        </mat-card>
        <h3>Cuentas Bancarias</h3>
        <mat-card fxFlex="60">
            <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" >
                <span fxFlex="90"><p>Banco Galicia</p> <p>CA 00174/8</p><p>CBU 1234567890123456789</p></span>
                <span fxFlex="10">
                    <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                    </button>
                </span>    
           </div>
            <br>
            <mat-divider></mat-divider>
            <br>
            <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" >
                <span fxFlex="90"><p>Banco Santadnde</p> <p>CA 00174/8</p><p>CBU 1234567890123456789</p></span>
                <span fxFlex="10">
                    <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                    </button>
                </span>    
            </div>
            <br>
            <mat-divider></mat-divider>
            <br>
            <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" >
                <span fxFlex="80"><a>Agregar cuenta</a></span>
                <span fxFlex="10">
                    <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                    </button>
                </span>    
            </div>
        </mat-card>
        <br>
    </div>        
    <div fxFlex="20"></div>
 </div>