<div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="20px">

    <mat-card>
        <mat-toolbar>
            <span>Pago de servicios</span>
        </mat-toolbar>
        <form [formGroup]="casesForm" (ngSubmit)="onFormSubmit()" class="example-form" style="text-align: center;">
            <br>
            <mat-form-field class="example-full-width">
                <mat-label>Cuit</mat-label>
                <input matInput type="number" placeholder="Documento" formControlName="code" disabled>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Empresa</mat-label>
                <input matInput placeholder="cliente" formControlName="customer" disabled>
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width" hintLabel="Monto max $16000">
                <mat-label>Monto</mat-label>
                <input matInput #input type="number" placeholder="Monto" formControlName="amount"
                    [errorStateMatcher]="matcher">
                <mat-hint align="end">{{input.value?.length || 0}}/6</mat-hint>
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width">
                <mat-label>Cuotas</mat-label>
                <mat-select formControlName="quota">
                    <mat-option *ngFor="let quo of quotaList" [value]="quo">
                        {{quo}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width">
                <mat-label>Descripcion</mat-label>
                <input matInput placeholder="descrip" formControlName="descrip">
            </mat-form-field>
            <br>
            <br>
            <mat-divider></mat-divider>
            <br>
            <div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="20">
                <button mat-raised-button routerLinkActive="list-item-active" routerLink="/pagar/SMS/validacion"
                    color="primary" fxFlex=80>Continuar</button>
            </div>
            <br>
        </form>
    </mat-card>
</div>