<div fxLayout="column" fxLayoutAlign="none center" fxLayoutGap="20px">
    <div fxLayout="column" fxLayoutAlign="space-evenly strech" fxLayoutGap="20px"> 
      <h3>Elegi la forma en queres ingresar el dinero</h3>
      <form class="example-form" >
          <mat-card> 
            <div fxLayout="row" fxLayoutAlign="none center" >              
                <button mat-button routerLinkActive="list-item-active" routerLink="/confirmar-transfer" color="primary" aria-label="Example" fxFlex="100">
                    <mat-icon fxFlex="10">account_balance</mat-icon>
                    <span fxFlex="80">CBU finalizado en 2552</span>
                    <mat-icon fxFlex="10" fxAlingn="end">keyboard_arrow_right</mat-icon>
                </button> 
            </div>
            <br>
            <mat-divider></mat-divider>
            <br>
            <div fxLayout="row" fxLayoutAlign="none center" >              
                <button mat-button routerLinkActive="list-item-active" routerLink="/confirmar-transfer" color="primary" aria-label="Example" fxFlex="100">
                    <mat-icon fxFlex="10">account_balance</mat-icon>
                    <span fxFlex="80">CBU finalizado en 7522</span>
                    <mat-icon fxFlex="10" fxAlingn="end">keyboard_arrow_right</mat-icon>
                </button> 
            </div>
            <br>
            <mat-divider></mat-divider>
            <br>
            <div fxLayout="row" fxLayoutAlign="none center" >              
                <button mat-button routerLinkActive="list-item-active" routerLink="/nuevo-cbu" color="primary" aria-label="Example" fxFlex="100">                 
                    <span fxFlex="90">Agregar otra cuenta</span>
                    <mat-icon fxFlex="10" fxAlingn="end">keyboard_arrow_right</mat-icon>
                </button>                
            </div>                       
        </mat-card>
    </form>
    </div>
  </div>